.Point {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: all;

  circle {
    fill: rgba(255, 255, 255, 0.96);
    stroke: rgba(0, 0, 0, 0.6);
    stroke-width: 2.5;
  }
}
